<?xml version="1.0"?>
<launch>

  <arg name="motor_count" default="1" />
  <arg name="joint_counts" default="[3]" />

  <param name="robot_description" command="$(find xacro)/xacro --inorder
                       '$(find bata_description)/robots/bata.urdf.xacro'
                        joint_counts:=$(arg joint_counts)"/>

  <!-- send fake joint values -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="TRUE"/>
  </node>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="state_publisher">

  </node>

</launch>
